<app-section imgSrc="sandra-image-1.jpg" title="Sandra Sanseverino" />
<app-section imgSrc="sandra-image-2.jpg" title="Collection 1" />
<app-section imgSrc="sandra-image-3.jpg" title="Collection 2" />
<app-section imgSrc="sandra-image-4.jpg" title="Collection 3" />

<!--<app-section imgSrc="compressed_sandra-image-1.webp" title="Sandra Sanseverino" />-->
<!--<app-section imgSrc="compressed_sandra-image-2.webp" title="Collection 1" />-->
<!--<app-section imgSrc="compressed_sandra-image-3.webp" title="Collection 2" />-->
<!--<app-section imgSrc="compressed_sandra-image-4.webp" title="Collection 3" />-->

